body {
    background-color: lightblue;
  }
  
  h1,h2,h3 {
    color: red;
  }
  
  h3 {
    text-align: left;
  }

  personal {  
    font-style: italic;
    color: blue;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  @media (max-width:500px){
  .responsive {
    width: 100%;
    text-align: center;
  }
   
  footer{
    bottom: 0
   }

  .imgresponsive {
     width: 300px;
  }
}

@media  (min-width:500px) and (max-width:1024px){

    .reponsive {
      width: 70%;
      
    }

    .imgresponsive {
      width: 210px;
    }
  }

  @media (min-width:1024px) {
    .responsive {
      width: 50%;
    }

    .imgresponsive {
      width: 210px;
    }
  } 
  main{
    min-height: 70vh;
}
@media (max-width:500px){
  .responsive {
    width: 100%;
    text-align: center;
  }
   
  footer{
    bottom: 0
   }

  .imgresponsive {
     width: 300px;
  }
}

@media  (min-width:500px) and (max-width:1024px){

    .reponsive {
      width: 70%;
      
    }

    .imgresponsive {
      width: 210px;
    }
  }

  @media (min-width:1024px) {
    .responsive {
      width: 50%;
    }

    .imgresponsive {
      width: 210px;
    }
  } 
.contenedor{
  width:80%
  max-width 1000px;
  margin:0 auto;
  overflow:hidden;
}
.main{
  width: 70%;
  background: #fff;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}
@media screen and(max-width: 800px);
  .main{
    width: 75%;
  }
  @media screen and(max-width: 400px);
  .contenedor{
    width: 75%;
  }
  
}
    