body {
    background-color: lightblue;
  }
  
  h1,h2,h3 {
    color: red;
  }
  
  h3 {
    text-align: left;
  }

  personal {  
    font-style: italic;
    color: blue;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    